
h2 {
    font-size: large;
    margin: 5px;
}

select {
    margin: 10px 20px 0px 20px;
    flex-grow: 1;
}

textarea {
    font-family: 'Courier New', monospace;
    margin: 10px 20px;
    height: 100%;
    min-height: 500px;
}

button {
    margin: 10px 20px;
}

#enter {
    min-width: 75px;
    padding: 10px 0px;
    margin: 0px 20px;
}

#output {
    min-height: 600px;
}

input {
    flex-grow: 1;
    margin: 0px 20px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width:100%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 90%;
}

.left {
    max-width:100px;
    margin-right:0px;
}

/* ===== TABS ===== */

  .tablinks {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
  }
  
  .tablinks-active {
    cursor: default;
    color: black;
    text-decoration: none;
  }

  .tabcontent {
    display: none;
  }

